# ls aliases
    alias ll='ls -alF'
    alias lh='ls -alhF'
    alias la='ls -A'
    alias l='ls -CF'

# User specific aliases and functions
    alias c='cc -o'
    alias ed='emacs --daemon'
    alias se='SUDO_EDITOR="emacsclient" sudo -e'
    alias e='emacsclient -t'
    alias ek="emacsclient -e '(kill-emacs)'"
    alias restart='sudo shutdown -r now'
    alias shutdown='sudo shutdown -h now'
    alias android='studio.sh'
    alias rep='watch -n1'
    alias r='trash'
    alias py='python3'
    alias f='v `fzf -i`'
    alias diff='diff -byW $(( $(tput cols) - 2 ))'
    alias v='nvim'
    alias rc='source ~/.zshrc'

# Docker, Vagrant, other VM aliases
    alias vssh='vagrant ssh'
    alias vscp='vagrant scp'
    alias dcup='docker-compose up'
    alias dcd='docker-compose down'
    alias dr='docker run'
    alias ds='docker stop'
    alias dsa='docker stop $(docker ps -aq)'
    alias dv='docker volume'
    alias drm='docker rm'
    alias drma='docker rm $(docker ps -aq)'
    alias dils='docker images'
    alias dip='docker image prune'
    alias dvp='docker volume prune'
    alias drmi='docker rmi'
    alias drmia='docker rmi $(docker images -q)'
    alias dps='docker ps -a'
    alias dbd='docker build'

    dssh() {
      docker exec -it $1 bash
    }

# Aliases for git
    alias add='git add'
    alias commit='git commit -S'
    alias push='git push'
    alias status='git status'
    alias branch='git branch'
    alias log='git log --graph'
    alias stash='git stash'
    alias pop='git stash pop'
    alias checkout='git checkout'
    alias pull='git pull'
    alias fetch='git fetch'
    alias merge='git merge -S'
    alias remote='git remote'
    alias clone='git clone'
    alias gmv='git mv'
    alias grm='git rm --cached'

# Misc aliases
    alias tf='terraform'
